<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<span data-bs-target="#cart-modal" data-bs-toggle="modal" hx-get="/movies/cart" hx-target="#cart-modal"
      hx-trigger="click"
      id="cartButtonText"
      th:fragment="cartButton(total)" th:text="|: ${#numbers.formatDecimal(total / 100.0, 1, 2)}| + ' $'"></span>
<div aria-hidden="false"
     class="modal modal-blur fade"
     id="cart-modal"
     style="display: none"
     tabindex="-1"
     th:fragment="cartModal">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<div class="modal-dialog modal-lg modal-dialog-centered" role="document" th:fragment="cartModalContent(movies, total)">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Shopping Cart</h5>
        </div>
        <div class="modal-body">
            <div class="alert alert-info" role="alert" th:if="${movies.isEmpty()}">
                Your shopping cart is empty.
            </div>
            <div th:if="${!movies.isEmpty()}">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="movie, iter : ${movies}"
                        th:id="|movie-cart-row-${movie.id}|"
                    >
                        <!--/*@thymesVar id="movie" type="xyz.stasiak.takemoviestore.MovieDto"*/-->
                        <td th:text="${movie.title}">Title</td>
                        <td th:text="${#numbers.formatDecimal(movie.price / 100.0, 1, 2) + ' $'}">Price</td>
                        <td>
                            <button class="btn btn-primary"
                                    hx-swap="delete"
                                    th:hx-post="|/movies/cart/remove/${movie.id}|"
                                    th:hx-select-oob="'#cartButtonText,#cartTotal,#' + |movie-cart-button-${movie.id}|"
                                    th:hx-target="'#' + |movie-cart-row-${movie.id}|"
                            >
                                Remove
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <h5 th:replace="~{fragments/cart :: cartTotal(${total})}"></h5>
            <button class="btn btn-secondary"
                    data-bs-dismiss="modal"
                    type="button">
                Close
            </button>
        </div>
    </div>
</div>
<h5 class="modal-title" id="cartTotal" th:fragment="cartTotal(total)"
    th:text="'Total: ' + ${#numbers.formatDecimal(total / 100.0, 1, 2) + ' $'}"></h5>
</html>