<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Movies</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}">
</head>
<body hx-history="false">
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mt-3">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-primary me-2">
                        <i class="bi bi-cart"></i>
                        <span th:text="${': ' + #numbers.formatDecimal(0, 1, 2) + ' $'}"></span>
                    </div>
                </div>
                <h1 class="mb-3">Movies</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <form class="input-group">
                    <label class="input-group-text" for="categoryFilter">Category</label>
                    <select name="category" hx-get="/movies" class="form-select" hx-target="#moviesRows" hx-trigger="change" id="categoryFilter">
                        <option value="">All categories</option>
                        <th:block th:each="category : ${categories}">
                            <option th:value="${category}" th:text="${category}"></option>
                        </th:block>
                    </select>
                </form>
            </div>
            <!-- Main content area -->
            <div class="col-md-9">
                <div hx-swap="outerHTML" id="movieList">
                    <div th:replace="~{movies :: list(${movies}, ${page})}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
</body>
</html>