<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Movies</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}">
    <script defer th:src="@{/webjars/htmx.org/dist/htmx.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mt-3">
                <div class="d-flex justify-content-end">
                    <div class="btn btn-primary me-2" hx-get="/movies/cart/value" hx-target="find span"
                         hx-trigger="htmx:historyRestore from:body">
                        <i class="bi bi-cart"></i>
                        <span th:replace="~{fragments/cart :: cartButton(${total})}"></span>
                    </div>
                </div>
                <h1 class="mb-3">Movies</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <form class="input-group">
                    <label class="input-group-text" for="categoryFilter">Category</label>
                    <select class="form-select" hx-get="/movies/rows" hx-target="#movieRows" hx-trigger="change"
                            id="categoryFilter" name="category">
                        <option value="">All categories</option>
                        <th:block th:each="category : ${categories}">
                            <!--suppress HtmlUnknownTag -->
                            <option th:text="${category}" th:value="${category}"></option>
                        </th:block>
                    </select>
                </form>
            </div>
            <!-- Main content area -->
            <div class="col-md-9">
                <div th:replace="~{fragments/movies :: table(${movies}, ${page})}"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/cart :: cartModal}"></div>
</body>
</html>